<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf-In-Action</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!--引进header-->
    <div th:replace="~{fragments/header :: header}"></div>
    <h3 th:text="${title}"></h3>

    <!--添加-->
    <div id="container">
        <a href="form.html" th:href="@{/users/form}" class="btn btn-primary">Insert User</a>

        <hr/>

        <!--数据列表-->
        <table class="table table-hover">
            <thead>
            <tr>
                <td>ID</td>
                <td>Email</td>
                <td>Name</td>
                <td>Option</td>
            </tr>
            </thead>
            <tbody>

            <tr th:if="${userList.size()} eq 0">
                <td colspan="4" style="text-align: center">There is no users!</td>
            </tr>
            <tr th:each="user : ${userList}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.name}"></td>
                <td>
                    <a href="" th:href="@{ '/users/view/' + ${user.id} }" th:text="'view'"/>
                    <a href="" th:href="@{ '/users/delete/' + ${user.id} }" th:text="'delete'"/>
                </td>
            </tr>
            </tbody>
        </table>

        <hr/>
    </div>


    <!--引进footer-->
    <div th:replace="~{fragments/footer :: footer}"></div>

    <script src="../../static/js/jquery-3.1.1.min.js" ></script>
    <script src="../../static/js/bootstrap.min.js" ></script>
</body>
</html>