<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf-In-Action</title>
</head>
<body>
    <!--引进header-->
    <div th:replace="~{fragments/header :: header}"></div>
    <h3 th:text="${title}"></h3>

    <!--添加-->
    <a href="form.html" th:href="@{/users/form}">Insert User</a>

    <hr/>

    <!--数据列表-->
    <table border="1">
        <thead>
        <tr>
            <td>ID</td>
            <td>Email</td>
            <td>Name</td>
            <td>Option</td>
        </tr>
        </thead>
        <tbody>

            <tr th:if="${userList.size()} eq 0">
                <td colspan="3">There is no users!</td>
            </tr>
            <tr th:each="user : ${userList}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.name}"></td>
                <td>
                    <a href="" th:href="@{ '/users/view/' + ${user.id} }" th:text="'view'"/>
                    <a href="" th:href="@{ '/users/delete/' + ${user.id} }" th:text="'delete'"/>
                </td>
            </tr>
        </tbody>
    </table>

    <hr/>

    <!--引进footer-->
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>